<div class="container skills">
  <div id="skills-header" class="skills__header">
    <h2 class="title">{{ "skills.title" | translate }}</h2>
    <h3 class="subtitle">{{ "skills.subtitle" | translate }}</h3>
  </div>
  <div class="skills__body">
    <div class="skills__left">
      <app-menu-skills
        [selected]="selected"
        [menuItems]="menuItems"
        [isMobile]="isMobile"
        (selectChanged)="selected = $event"
      ></app-menu-skills>
    </div>
    <div class="skills__right">
      <app-content-skills
        [skillList]="skillList"
        [selected]="selected"
      ></app-content-skills>
    </div>
  </div>
</div>
