@use "../../../../../styles/shared/mixins" as mixins;

:host {
  width: 100%;
  display: block;
  .error {
    padding: 1rem;
    font-size: 1.4rem;
    top: 0;
    border-radius: 0 0 0.5rem 0.5rem;
    background-color: #ffdddd;
    border: 1px solid #ffcccc;
    color: var(--error-color);
    position: relative;
    display: flex;
    align-items: center;
    border-right: 1px solid var(--error-color);
    border-left: 1px solid var(--error-color);
    border-bottom: 1px solid var(--error-color);
    @include mixins.fade__in(0.5s);

    &::before {
      content: "⚠️";
      display: inline-block;
      margin-right: 1rem;
      font-size: 1.8rem;
    }
  }
}
