<main class="main-container">
  <header id="profile">
    <app-profile></app-profile>
  </header>
  <section id="about">
    <app-about-me></app-about-me>
  </section>
  <section id="skills">
    <app-skills [isMobile]="isMobile"></app-skills>
  </section>
  <section id="qualification">
    <app-qualifications></app-qualifications>
  </section>
  <section id="services">
    <app-services></app-services>
  </section>
  <section id="portfolio">
    <app-portfolio></app-portfolio>
  </section>
  <section id="contact">
    <app-contact></app-contact>
  </section>
  <i
    class="fa-solid fa-gear"
    [matMenuTriggerFor]="menu"
    role="button"
    aria-label="Open palette panel"
  ></i>
  <mat-menu #menu="matMenu">
    <div class="colors">
      <span
        class="colors--item"
        mat-menu-item
        (click)="changeTheme(item.color)"
        *ngFor="let item of colorPalette"
        [ngStyle]="{ 'background-color': item.color }"
      >
      </span>
    </div>
  </mat-menu>
</main>
