@import "../../../../styles/shared/media-queries";

:host {
  .dialog {
    position: relative;
    width: auto;
    min-width: 500px;
    height: auto;
    overflow: hidden;
    background-color: #fff;
    @include sm {
      min-width: 350px;
    }
    h1 {
      font-size: 3.2rem;
      margin-bottom: 0;
      padding-top: 2rem;
      padding-bottom: 2.5rem;
      color: var(--secondary-color);
      font-weight: 600;
      font-family: "Poppins", sans-serif;
      @include sm {
        font-size: 2.4rem;
      }
    }
    .mat-dialog-content {
      padding: 0;
    }
    button {
      position: absolute;
      top: 1rem;
      right: 1rem;
      padding: 0;
      background: transparent;
      cursor: pointer;
      z-index: 10;
      color: var(--primary-color);
      @include sm {
        top: 0.5rem;
        right: 0.5rem;
      }
    }
    &__list {
      margin: 0;
      padding-bottom: 2.5rem;
      &-item {
        padding: 1rem 0;
        color: var(--primary-color);
        line-height: 2.5rem;
        display: flex;
        align-items: center;
        font-family: "Poppins", sans-serif;
      }
      i {
        color: var(--secondary-color);
        padding-right: 1rem;
      }
    }
  }
}
