<div class="container contact">
  <div class="contact__header">
    <h2 class="title">{{ "contact.title" | translate }}</h2>
    <h3 class="subtitle">{{ "contact.subtitle" | translate }}</h3>
  </div>
  <div class="contact__body">
    <div class="contact__left">
      <div class="contact__left-item" *ngFor="let item of contactItems">
        <h4>{{ item.name | translate }}</h4>
        <a [href]="item.link" *ngIf="item.text !== 'Rzeszów'"
          ><i [class]="item.icon"></i>{{ item.text }}</a
        >
        <a [href]="item.link" target="_blank" *ngIf="item.text === 'Rzeszów'"
          ><i [class]="item.icon"></i>{{ item.text }}</a
        >
      </div>
    </div>
    <div class="contact__form">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="contact__form-items">
          <app-error
            [controlName]="item.controlName"
            *ngFor="let item of formItems"
          >
            <app-input
              [label]="item.label"
              [control]="form.get(item.controlName)"
              [type]="item.type"
            >
            </app-input>
          </app-error>
        </div>
        <div class="contact__form-description">
          <app-error controlName="description" class="">
            <app-textarea
              [label]="'form.description'"
              [control]="this.form.get('description')"
            ></app-textarea>
          </app-error>
        </div>
        <div class="contact__form-button">
          <button
            type="submit"
            mat-raised-button
            color="primary"
            *ngIf="!(isLoading$ | async); else loading"
          >
            {{ "button.submit" | translate }}
          </button>
          <ng-template #loading>
            <button mat-raised-button color="primary" [disabled]="true">
              <i class="fa-solid fa-spinner fa-spin-pulse"></i>
            </button>
          </ng-template>
        </div>
      </form>
    </div>
  </div>
</div>
