@import "../../../../styles/shared/media-queries";

:host {
  .services {
    &__body {
      display: flex;
      justify-content: center;
      gap: 5rem;
      @include mq("1050px") {
        gap: 2rem;
        flex-wrap: wrap;
      }
    }
    &__item {
      border: 3px solid black;
      border-radius: 1rem;
      padding: 3rem;
      height: 300px;
      width: 300px;
      justify-content: space-around;
      flex-direction: column;
      display: flex;
      cursor: pointer;
      background-color: #fff;
      @include sm {
        width: 90%;
        height: 250px;
      }
      &:hover {
        box-shadow: 0px 0px 24px 0px var(--secondary-color);
        border: 3px solid var(--secondary-color);
        transition: all 0.3s;
        & i {
          color: var(--secondary-color);
        }
        & .fa-arrow-right {
          margin: 0 0.8rem;
          transition: all 0.5s;
        }
      }

      &-title {
        font-size: 2rem;
        font-weight: 600;
      }

      &-icon {
        font-size: 3rem;
      }

      &-view-more {
        i {
          padding-left: 0.8rem;
        }
      }
    }
  }
}
