<nav class="menu">
  <input checked="checked" class="menu__toggler" type="checkbox" />
  <ul>
    <li
      *ngFor="let item of menuItems; let i = index"
      (click)="selectValue(item?.value)"
      [ngClass]="item.value === selected ? 'selected' : ''"
    >
      <ng-container *ngIf="isMobile; else desktopIcon">
        <a href="#skills-header" [attr.aria-label]="item.label">
          <i [class]="item.name"></i>
        </a>
      </ng-container>
      <ng-template #desktopIcon>
        <i [class]="item.name"></i>
      </ng-template>
    </li>
  </ul>
</nav>
<img src="/assets/imgs/angular.webp" class="angular" alt="angular logo" />
