<app-spinner *ngIf="isLoading"></app-spinner>
<app-navigation
  *ngIf="!isMobile && !isLoading"
  (languageChanged)="changeLanguage($event)"
  [isDesktop]="isDesktop"
  [isTablet]="isTablet"
  [isMobile]="isMobile"
  [menuList]="menuList"
  [languageList]="languageList"
  [currentLanguage]="currentLanguage"
></app-navigation>
<app-bottom-navigation
  *ngIf="isMobile && !isLoading"
  (languageChanged)="changeLanguage($event)"
  [menuList]="menuList"
  [languageList]="languageList"
  [isAtBottom]="isAtBottom"
  [currentLanguage]="currentLanguage"
></app-bottom-navigation>
<router-outlet></router-outlet>
<app-footer
  #bottomMarker
  [isDesktop]="isDesktop"
  [isTablet]="isTablet"
  [isMobile]="isMobile"
></app-footer>
<app-cursor-tail *ngIf="isDesktop"></app-cursor-tail>
