@import "../../../../styles/shared/media-queries";

:host {
  .qualifications {
    &__body {
      display: flex;
      justify-content: center;
      .fa-briefcase,
      .fa-graduation-cap {
        font-size: 3rem;
        padding-right: 1rem;
      }
      h4 {
        font-size: 2rem;
        font-family: "Poppins", sans-serif;
      }
    }
  }
}
